.App {
  font-family: sans-serif;
  /* text-align: center; */
}
.ticket-view1 {
  text-align: center;
  margin-top: 6px;
  margin-bottom: 6px;
  width: 180px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 5px;
  background: #fff1f0;
  border-radius: 2px;
}
/* .ticket-view2 {
  margin-top: 6px;
  margin-bottom: 6px;
  width: 180px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 5px;
  background: #fff7e6;
  border-radius: 2px;
}
.ticket-view3 {
  margin-top: 6px;
  margin-bottom: 6px;
  width: 180px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 5px;
  background: #fff2e8;
  border-radius: 2px;
} */
.special-align1 {
  margin-top: 8px;
  margin-left: 5px;
  margin-right: 5px;
}
.text-setup {
  text-align: left;
  padding-left: 60px;
}
.value-view {
  display: flex;
  flex-direction: row;
  /* margin-left: 10px;
  margin-right: 10px; */
}
.element {
  shape-outside: circle(50%);
}
#colorstrip {
  margin-left: 70px;
  width: 55px;
  height: 10px;
  background: #b7eb8f;
  margin-bottom: 10px;
}
/* .setup-view {
  position: absolute;
  z-index: 10;
  width: 100%; */

/* position: absolute;
  z-index: 10;
  top: 25vh;
 
} */
/* } */
.ticket-internal {
  padding-top: 5px;
}
.special-setup {
  background-color: #f7ecff;
  width: 300px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 8px;
  border-radius: 2px;
}
.special-view {
  text-align: left;
  width: 250px;
}
.divide-setup {
  font-style: normal;
  font-weight: 200;
  font-size: 15px;
  line-height: 18px;
  color: #135200;
  text-align: center;
  letter-spacing: 0.1em;
}
.photo {
  margin-left: 20px;
  align-items: padding-right;
  height: 30px;
  width: 30px;
  margin-top: -20px;
}
